<article class="container">
  <div class="title">
    <a class="fs-3" href="/post/{{id}}" target="_blank">{{title}}</a>
    <span>Votes: {{ vote_count }}</span>
  </div>
  <div class="body">
    <p class="mb-3 mt-2">{{body}}</p>
  </div>
  <div class="meta fst-italic">
    <p class="mb-0">by {{user.username}} on {{format_date created_at}}</p>
    {{comments.length}} comments
  </div>
</article>